h2 {
    text-align: center;
    margin-top: 5px;
}

p {
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    color: #4ce0d2ff;
}

a :hover {
    color: #ed9b40ff;
}

.film-strip {
    border-left: 20px dashed black;
    border-right: 20px dashed black;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.uppercase {
    text-transform: uppercase;
}

.left-border {
    border-left: 2px solid #4ce0d2ff;
    padding-left: 5px;
}

.right-border {
    border-right: 2px solid #4ce0d2ff;
    padding-right: 5px;
}

.btm-border {
    border-bottom: 2px solid #4ce0d2ff;
}

.navbar-expand-md .navbar-nav{
    flex-direction: column;
}

.bg-dark {
    background-color: #645853ff !important;
}

.bordered {
    border: 2px solid blue;
}

.logo {
    color: #4ce0d2ff;
    font-family: "Monoton", sans-serif;
    font-size: 3em;
    padding-left: 10px;
    padding-right: 8px;
}

.logo:hover {
    color: #645853ff !important;
}

.nav-link:hover {
    color: #645853ff !important;
}

.social-link {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    letter-spacing: 10px;
}

.navbar-dark .navbar-toggler {
    color: #4ce0d2ff;
    border-color: #4ce0d2ff;

    margin-right: 8px;
    margin-left: 8px;
}

.film-title {
    line-height: 1.5;
}

.steps {
    background-color: #645853ff;
    color: #fafafa;
    height: 20vh;

    /*--------------------------------------These dashed lines were added in an attempt to mimc the effect of old film strips. They didn't look good enough to use for the guide page
    border-left: 16px dashed black;
    border-right: 16px dashed black;
    */
}

.card {
    margin-bottom: 25px;
    max-height: 525px;
}

.card-body {
    background-color: rgba(10, 9, 3, .7);
    color: #fafafa;
    text-align: center;
}


.card-img-top {
    max-height: 400px;
}

.about-bar {
    background-color: rgba(10, 9, 3, .7);
    border-top: 15px dashed black;
    border-bottom: 15px dashed black;
    font-family: "Montserrat", sans-serif;
    color: rgba(255,255,255,1);
    text-align: center;
    letter-spacing: 4px;
    padding: 20px 0px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.contact-box {
    width: 400px;
    height: 400px;
    color: #4ce0d2ff;
    text-transform: lowercase;
    background-color: rgba(0,0,0,.7);
}

.footer-bar {
    display: inline-block;
    text-align: center;
    letter-spacing: 10px;
}

.jumbotron {
    margin: 35px 0px;
}

#showing-soon {
    background: url("/assets/images/johnwick.jpg") no-repeat center center;
    margin: 0;
    padding: 0;
    color: #fafafa;
    line-height: 3;
}

#blurb-text {
    background-color: rgba(10, 9, 3, .8);
    padding: 20px;
    letter-spacing: 4px;
    height: 70vh;
}


/*----------------------------------------------------------------------Hover.css */

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #4ce0d2ff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.hvr-sweep-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #4ce0d2ff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
  color: white;
}
.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



@media only screen and (max-width: 650px) {

.logo {
    font-size: 2rem;
    width: 70vw;
}

}

