
body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

li a{
    text-decoration: none;
    color: #4CE0D2;
    padding: 10px;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.navbar {
    display: flex;
    background-color: #645853;
    color: #4CE0D2;
    min-height: 20vh;
    max-height: 30vh;
}

.logo {
    text-align: right;
    margin-left: 8px;
    padding: 4px;
    border-right: 2px solid #4CE0D2;
    font-family: "Monoton", sans-serif;
    font-size: 2.5em;
    color: #4CE0D2;
}

.logo:hover {
    color: #ED9B40;
}

.navmenu-item {
    border-bottom: .5px solid #4CE0D2;
}

.navbar-item {
    width: 50%;
}

.navbar-item li a:hover {
    color: #ED9B40;
    border-bottom: 1px solid #ED9B40;
}


/*---------------------------------------------------------------------------------------Main Content.css*/


.razzle-dazzle {
    font-size: 50vh;
    border-style: dotted;
    border-color: #fafafa;
}










.footer-bar {
    position: fixed;
    bottom: 0;
    background: #645853;
    color: #4CE0D2;
    width: 100vw;
    height: 10vh;
    max-height: 20vh;
}

.logo-footer {
    text-align: left;
    margin-left: 8px;
    padding: 4px;
    font-size: .5em;
}


/*---------------------------------------------------------------------------------------Bob hover.css*/

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}